/* overview */

.overview {
	display: block;
	max-width: 100%;
	width: 1110px;
	height: 625px;
	border-radius: 32px 32px 0 0;
	overflow: hidden;
}

.overview__img {
	display: block;
	height: 100%;
	width: 100%;
	object-position: center;
	object-fit: fill;
}

/* overview### */
